
.card {
	width: 500px;
	height: fit-content;
	background-color: aliceblue;
	border: solid 2px navy;
	border-radius: 25px;
	margin: 20px;
	padding: 40px;
}

.icon {
	width: 100px;
	height: 100px;
	background-size: cover;
	border-radius: 50%;
}

.card-img {
	width: 100px;
	height: 100px;
	border-radius: 25px;
}

.text {
	font-family: Arial, Helvetica, sans-serif;
}

.title {
	font-size: 30px;
	margin-top: 20px;
}

.main-color  {
	color: navy;
}

p {
	font-size: 15px;
}

.text-italic {
	font-style: italic;
}